@import "variables";

html{
  font-size: 10px;
}
body{
  margin: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
//Utility
.container{
  margin: 0 auto;
  width: 1227px;
}
.dropdown{
  position: relative;
  .dropdown__button{
    text-decoration: none;
    font-size: 2.2rem;
    line-height: 81px;
    font-family: 'Roboto Condensed', sans-serif;
    user-select: none;
    cursor: pointer;
    color: #0f0f0f;
  }
  .dropdown__content{
    transition: 3s;
    width: 332px;
    height: 202px;
    display: none;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    margin-top: -5px;
    border: 1px solid #f24841;
    background-color: #f6f7f9;
    opacity: 0.95;
    .dropdown__content-button{

      display: block;
      width: 100%;
      height: 50px;
      text-align: center;
      line-height: 50px;
      color: #0f0f0f;
      text-decoration: none;
      user-select: none;
      cursor: pointer;
      font-family: "Roboto Condensed";
      font-size: 2rem;
      &:hover{
        background-color: #f24841;
        color: white;
      }
    }
  }
  &:hover{
    .dropdown__content{
      display: block;
    }
  }
}
//Utility END


//Header
.header{
  height: 81px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .header__inner{
    width: 1257px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo{
      height: 43px;
      width: 126px;
      background-image: url("../../assets/img/logo.png");
      overflow: hidden;

    }
    .header__nav{
      width: 767px;
      height: 100%;
      display: flex;
      justify-content: space-around;
      .header__nav-button{
        height: 100%;
        text-decoration: none;
        font-size: 2.2rem;
        line-height: 81px;
        font-family: 'Roboto Condensed', sans-serif;
        user-select: none;
        cursor: pointer;
        color: #0f0f0f;
      }
    }
    .header__order-call{
      border-radius: 10px;
      border: 1px solid #f24841;
      padding: 17px;
      box-sizing: border-box;
      text-align: center;
      font-size: 1.4rem;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      color: #0f0f0f;
      cursor: pointer;
      &:hover{
        background-color: #f24841;
        color: white;
      }
    }
  }
}
//Header END


//Main
.main{
  .main__inner{
    .promo{
      position: relative;
      width: 100%;
      height: 150px;
      img{
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 637px;;
        z-index:-1;
        filter: brightness(50%);
      }
      .promo__body{
        position: absolute;
        .promo__inner{
          padding: 0 90px;
          .promo__title{
            margin-top: 90px;
            text-shadow: 0 3px 7px #000000;
            color: #ffffff;
            font-family: 'Oswald', sans-serif;
            font-size: 4.8rem;
          }
          .promo__subtitle{
            margin-top: 47px;
            color: #ffffff;
            font-family: "Roboto Condensed", sans-serif;
            font-size: 2.4rem;
          }
          .promo__button{
            margin-top: 62px;
            padding: 20px 25px;
            border-radius: 15px;
            outline: none;
            font-family: 'Montserrat', sans-serif;
            color: white;
            font-size: 2rem;
            background-color: #e30613;
            border: 1px solid #e30613;
            box-sizing: border-box;
            &:hover{
              background-color: white;
              color: #f24841;

            }
          }
        }

      }
      .promo__footer{
        margin-top: 86px;
        position: relative;
        .promo__info{
          font-family: "Roboto Condensed";
          font-size: 2.4rem;
          text-decoration: none;
          float: left;
          .promo__mail, .promo__phone{
            width: 100%;
            max-width: 177px;
            margin-bottom: 16px;
            display: block;
            text-decoration: none;
            color: white;
          }
        }
        .promo__more-button{
          width: 56px;
          height: 56px;
          margin-top: 51px;
          background-image: url("../../assets/img/more-icon.png");
          position: absolute;
          transform: translate(-50%);
          left: 50%;
        }
        .promo__slider-counter{
          margin-top: 32px;
          float: right;
          color: #bababa;
          font-family: Oswald, sans-serif;
          font-weight: bold;
          .promo__current-slide{
            font-size: 3rem;
          }
          .promo__slide-slash{
            font-size: 2rem;

          }
          .promo__slider-total{
            font-size: 2rem;
          }
        }
      }
    }
  }
}
.slideshow
{
  position: relative;
  width: 350px;
  height: 150px;
}
.slideshow img
{
  position: absolute;
  width: 350px;
  height: 150px;
  z-index:-1;
}
//Main END